#content {
	font-size: 14pt;
	margin: auto;
	width: 1024px;
}

.parent {
	padding: 0;
	margin: 0;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.overriding {
	padding-top: 0;
	margin: 0;
	display: none;
}